 body {
    background-image: #d1d1d1;
    background-repeat: no-repeat;
    height: auto;
 }

 h2 {
      font-size: 40px;
      color: #D0DDD0;
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: auto;
      font-style: normal;
      font-variation-settings: "wdth" 100;
 }

 p {
   color: #bcd497;
   font-size: 22px;
 }

.h1-custom {
    font-size: 60px;
    margin-top: 35vh;
    color: #D0DDD0;  
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
 }

 .h2-custom {
   margin-top: 35vh;
 }

 .container-paragraph {
    margin-top: -10px;
 }

 .container {
    text-align: center;
 }

 .wrapper {
   margin-top: 25vh;
   display: flex;
   justify-content: center;  
   align-items: center;
   height: auto;       
 }

 .wrapper-footer{
   margin-top: 5vh;
   display: flex;
   justify-content: center;  
   align-items: center;
   height: auto;       
 }

.wrapper-about-me {
   display: flex;
   justify-content: center;  
   width: auto;
   height: auto; 
}

.wrapper-card-about-me {
   display: grid;
   grid-template-columns: 150px 250px;
   height: 200px;
}

.wrapper-card-contact-me {
   display: grid;
   grid-template-columns: auto auto;
}

.wrapper-card-contact-me p {
   margin-top: 1vh;
   margin-left: 0.5vh;
   margin-right: 2vh;
}

.wrapper-card {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 6vh;
}

.wrapper-image-about-me {
   background-color: #dcf9da;
   border-radius: 10px;
   height: 115px;
   width: 115px;
}

.image-profile {
   border-radius: 100%;
   background-image: url(../images/felix.jpeg);
   background-size: cover;
   background-position: center;
   width: 150px;
   height: 150px;
}

.about-me {
   margin-top: 25vh;
}

.card-gamecontroller {
   background-image: url(../images/console.png);
   height: 100px;
   width: 100px;
   background-size: cover;
   margin: 7px;
}

.card-camera {
   background-image: url(../images/camera.png);
   height: 100px;
   width: 100px;
   background-size: cover;
   margin: 7px;
}

.card-web-programming {
   background-image: url(../images/web-programming.png);
   height: 100px;
   width: 100px;
   background-size: cover;
   margin: 7px;
}

.card-traveling {
   background-image: url(../images/travelling.png);
   height: 100px;
   width: 100px;
   background-size: cover;
   margin: 7px;
}

.card-text{
   display: flex;
   flex-direction: column;
   margin-right: 15px;
   max-height: 300px;
   max-width: 400px;
}

.card-text p {
   margin-top: -1rem;
   max-width: 350px;
   word-wrap: break-word;
   white-space: normal;
}

.card-text h2{
   margin-top: -0.5vh;
   font-size: 30px;
}