<%- include("partials/header") %>  

<h1 id="header"> Let's Chit Chat about You Today </h1>

<% if (locals.data) { %>

    <div class="container-card">

    <% data.forEach(item=> { %>
        <div class="card-post">
            
            <h3> <%= item.user %> </h3>
            
            <p> <%= item.post %> </p>

        </div>
    <% }); %>

    <button onclick="showPopup()">Yuk Curhat!</button>

    <!-- Pop-up Form -->
    <div id="popup" class="popup">
      <div class="popup-content">
        <h3>Jangan malu buat Curhat Ya!! </h3>
        <form action="/submit" method="POST">
          <input type="text" name="username" placeholder="Username" required>
          <br><br>
          <textarea type="text" 
                    id="textarea" 
                    oninput="autoResize(this)" 
                    class="input-post" 
                    name="posts" 
                    placeholder="Yuk, Dikeluarin aja semua"> </textarea>
          <br><br>
          <button class="submit-btn" type="submit">Kirim</button>
          <button class="close-btn" type="button" onclick="closePopup()">Tutup</button>
        </form>
      </div>
    </div>

    </div>
    
<% } %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/styles/js/popup.js"></script>

</body>

</html>